@charset "UTF-8";
/* ------- Variables Globales ------- */
/* ------- Mixins ------- */
/* ------- Placeholders para `@extend` ------- */
.flex-2 .muestras div {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.footer ul a, .main-header .custom-navbar .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}
.footer ul a:hover, .main-header .custom-navbar .navbar-nav .nav-link:hover {
  color: #758c5e;
}

/* ------- Animación de Entrada (FadeIn) ------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ------- Estilos Generales ------- */
body {
  font-family: "Montserrat", Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f0edd8;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

/* ------- Header ------- */
.main-header {
  background-color: #f2f2f2;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.main-header .custom-navbar {
  background-color: #f2f2f2;
  padding: 10px 20px;
}
.main-header .custom-navbar .navbar-brand img {
  width: 250px;
  height: auto;
}
.main-header .custom-navbar .navbar-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-header .custom-navbar .navbar-nav .nav-item {
  margin-left: 10px;
}
.main-header .custom-toggler {
  border: none;
  background-color: transparent;
}
.main-header .navbar-toggler-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/512/545/545671.png");
  width: 30px;
  height: 30px;
}

/* ------- Footer ------- */
.footer {
  background-color: #d99e89;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.footer ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer ul li {
  margin-left: 20px;
}
.footer p {
  margin: 10px 0;
  color: #ffffff;
  font-size: 12px;
}
@media (min-width: 768px) {
  .footer p {
    font-size: 14px;
  }
}
.footer .social-icons {
  margin-top: 10px;
}
.footer .social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

/* ------- Clases Generales ------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Aplicar la animación a todos los títulos sin modificar otros estilos */
h1, h2 {
  animation: fadeIn 1s ease-in-out;
}

/* ------- Sección introduccion ------- */
.intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 20px;
}
.intro .intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
}
@media (max-width: 767px) {
  .intro .intro-container {
    flex-direction: column;
    align-items: center;
  }
}
.intro .intro-text {
  flex: 1;
  max-width: 480px;
  text-align: left;
}
.intro .intro-text h1 {
  font-size: 28px;
  color: #758c5e;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro .intro-text h1 {
    font-size: 36px;
  }
}
.intro .intro-text p {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  text-align: left;
}
@media (min-width: 768px) {
  .intro .intro-text p {
    font-size: 16px;
  }
}
.intro .intro-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.intro .intro-image img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}
.intro .intro-image img:hover {
  transform: scale(1.1);
}

/* ------- Sección Explora Nuestras Muestras ------- */
.flex-2 {
  text-align: center;
  padding: 40px 20px;
  background-color: #f0edd8;
}
.flex-2 h2 {
  font-size: 22px;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px;
}
@media (min-width: 768px) {
  .flex-2 h2 {
    font-size: 32px;
  }
}
.flex-2 p {
  max-width: 800px;
  margin: 0 auto 50px auto;
  font-size: 14px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .flex-2 p {
    font-size: 16px;
  }
}
.flex-2 .muestras {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.flex-2 .muestras div {
  width: 250px;
  text-align: center;
}
.flex-2 .muestras div img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.flex-2 .muestras div img:hover {
  transform: scale(1.1);
}
.flex-2 .muestras div button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #d99e89;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.flex-2 .muestras div button:hover {
  background-color: black;
  transform: scale(1.1);
}

/* ------- Sección Workshops ------- */
.workshop {
  padding: 20px;
  text-align: center;
  background-color: #758c5e;
}
.workshop h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}
@media (min-width: 768px) {
  .workshop h2 {
    font-size: 30px;
  }
}
.workshop p {
  font-size: 12px;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
}
@media (min-width: 768px) {
  .workshop p {
    font-size: 14px;
  }
}
.workshop .workshop-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 767px) {
  .workshop .workshop-content {
    flex-direction: column;
    align-items: center;
  }
}
.workshop .workshop-content .workshop-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.workshop .workshop-content .workshop-image-container img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.workshop .workshop-content .workshop-image-container img:hover {
  transform: scale(1.05);
}
.workshop .workshop-content .workshop-image-container .workshop-button {
  background-color: #d99e89;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.workshop .workshop-content .workshop-image-container .workshop-button:hover {
  background-color: black;
  transform: scale(1.1);
}
.workshop .workshop-content .workshop-image-container .workshop-button:hover {
  background-color: black;
  transform: scale(1.1);
}
.workshop .workshop-content .workshop-text {
  width: 60%;
}
.workshop .workshop-content .workshop-text p {
  font-size: 14px;
  line-height: 1.5;
  color: white;
  text-align: left;
}
@media (min-width: 768px) {
  .workshop .workshop-content .workshop-text p {
    font-size: 16px;
  }
}

/* ------- Sección Contacto ------- */
.contact {
  padding: 20px;
  text-align: center;
}
.contact h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contact h2 {
    font-size: 32px;
  }
}
.contact p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
}
@media (min-width: 768px) {
  .contact p {
    font-size: 16px;
  }
}
.contact .contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}
@media (max-width: 767px) {
  .contact .contact-content {
    flex-direction: column;
    align-items: center;
  }
}
.contact .contact-content .contact-form {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact .contact-content .contact-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}
.contact .contact-content .contact-form .form-group label {
  display: block;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}
.contact .contact-content .contact-form .form-group input, .contact .contact-content .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact .contact-content .contact-form .form-group input:focus, .contact .contact-content .contact-form .form-group textarea:focus {
  border-color: black;
  outline: none;
}
.contact .contact-content .contact-form .contact-button {
  background-color: #d99e89;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.contact .contact-content .contact-form .contact-button:hover {
  background-color: black;
  transform: scale(1.1);
}
.contact .contact-content .contact-form .contact-button:hover {
  background-color: black;
  transform: scale(1.1);
}

/* ------- Sección Banner Workshops ------- */
.main-banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.main-banner .banner-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 47px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .main-banner h1 {
    font-size: 52px;
  }
}

/* ------- Sección Aprende con Nosotros ------- */
.intro-workshops {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 60px auto;
  gap: 40px;
}
.intro-workshops .intro-content {
  flex: 1;
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.intro-workshops .intro-content h2 {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .intro-workshops .intro-content h2 {
    font-size: 32px;
  }
}
.intro-workshops .intro-content p {
  font-size: 14px;
  color: #1a1a1a;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .intro-workshops .intro-content p {
    font-size: 16px;
  }
}
.intro-workshops .intro-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.intro-workshops .intro-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
}

/* ------- Sección Próximos Talleres ------- */
.upcoming-workshops {
  text-align: center;
  padding: 50px 20px;
}
.upcoming-workshops h2 {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .upcoming-workshops h2 {
    font-size: 32px;
  }
}
.upcoming-workshops .workshops-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .upcoming-workshops .workshops-gallery {
    flex-direction: column;
    align-items: center;
  }
}
.upcoming-workshops .workshops-gallery .workshop-item {
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
}
.upcoming-workshops .workshops-gallery .workshop-item img {
  width: 100%;
  max-width: 120px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}
.upcoming-workshops .workshops-gallery .workshop-item p {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
  text-align: center;
}
@media (min-width: 768px) {
  .upcoming-workshops .workshops-gallery .workshop-item p {
    font-size: 16px;
  }
}

/* ------- Contacto en Workshops ------- */
.contact {
  text-align: center;
  padding: 20px;
}
.contact h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contact h2 {
    font-size: 32px;
  }
}
.contact p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
}
@media (min-width: 768px) {
  .contact p {
    font-size: 16px;
  }
}
.contact .contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}
.contact .contact-content .contact-form {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact .contact-content .contact-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}
.contact .contact-content .contact-form .form-group label {
  display: block;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}
.contact .contact-content .contact-form .form-group input, .contact .contact-content .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact .contact-content .contact-form .form-group input:focus, .contact .contact-content .contact-form .form-group textarea:focus {
  border-color: black;
  outline: none;
}
.contact .contact-content .contact-form .contact-button {
  background-color: #d99e89;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.contact .contact-content .contact-form .contact-button:hover {
  background-color: black;
  transform: scale(1.1);
}
.contact .contact-content .contact-form .contact-button:hover {
  background-color: black;
  transform: scale(1.1);
}

/* ------- Sección Sobre Nosotros ------- */
.about-us {
  padding: 50px 20px;
  background-color: #f7f6ea;
  text-align: center;
}
.about-us .about-banner img {
  width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.about-us .about-container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}
.about-us .about-container h2 {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .about-us .about-container h2 {
    font-size: 32px;
  }
}
.about-us .about-container p {
  font-size: 14px;
  color: #1a1a1a;
  line-height: 1.6;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .about-us .about-container p {
    font-size: 16px;
  }
}

/* ------- Sección de Información y Características ------- */
.about-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 40px auto;
}
.about-details .about-image img {
  width: 300px;
  height: auto;
  border-radius: 12px;
}
.about-details .about-list {
  flex: 1;
  max-width: 500px;
  text-align: left;
  padding-left: 20px;
}
.about-details .about-list li {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  list-style-type: disc;
}

/* ------- Sección Banner Muestras ------- */
.main-banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.main-banner .banner-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .main-banner h1 {
    font-size: 52px;
  }
}

/* ------- Sección Explora Nuestras Creaciones ------- */
.explora-creaciones {
  text-align: center;
  padding: 40px 20px;
}
.explora-creaciones h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  padding: 10px;
}
@media (min-width: 768px) {
  .explora-creaciones h2 {
    font-size: 32px;
  }
}
.explora-creaciones p {
  font-size: 14px;
  color: #1a1a1a;
  margin: 0 auto 30px auto;
  text-align: center;
  line-height: 1.6;
  max-width: 800px;
}
@media (min-width: 768px) {
  .explora-creaciones p {
    font-size: 16px;
  }
}
.explora-creaciones .gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .explora-creaciones .gallery {
    flex-direction: column;
    align-items: center;
  }
}
.explora-creaciones .gallery .gallery-item {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explora-creaciones .gallery .gallery-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

/* ------- Sección Destacados de la Galería ------- */
.destacados {
  text-align: center;
  padding: 40px 20px;
}
.destacados h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .destacados h2 {
    font-size: 32px;
  }
}
.destacados .galeria {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}
.destacados .galeria .galeria-item {
  width: 20%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.destacados .galeria .galeria-item img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.destacados .detalles {
  text-align: left;
  max-width: 800px;
  margin-top: 25px;
  color: #0d0d0d;
  font-size: 16px;
  line-height: 1.6;
}
.destacados .detalles li {
  margin-bottom: 10px;
}
.destacados .texto-decorativo {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: #758c5e;
  font-style: italic;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* ------- Sección Contacto ------- */
.contact-section {
  text-align: center;
  padding: 50px 20px;
}
.contact-section h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contact-section h2 {
    font-size: 32px;
  }
}
.contact-section p {
  font-size: 16px;
  color: #1a1a1a;
  max-width: 700px;
  margin: 0 auto 20px auto;
}
.contact-section .contact-container {
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.contact-section .contact-container .contact-image img {
  max-width: 350px;
  border-radius: 12px;
}
.contact-section .contact-container .contact-form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f6ea;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-section .contact-container .contact-form label {
  font-weight: bold;
  color: #758c5e;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}
.contact-section .contact-container .contact-form input, .contact-section .contact-container .contact-form select, .contact-section .contact-container .contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #e2dcb3;
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  color: #333;
}
.contact-section .contact-container .contact-form textarea {
  resize: vertical;
  min-height: 120px;
}
.contact-section .contact-container .contact-form button {
  width: 100%;
  background-color: #d99e89;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.contact-section .contact-container .contact-form button:hover {
  background-color: black;
  transform: scale(1.1);
}

/* ------- Información de Contacto ------- */
.contact-info {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}
.contact-info p {
  font-size: 14px;
  margin: 5px 0;
}
@media (min-width: 768px) {
  .contact-info p {
    font-size: 16px;
  }
}

/* ------- Estilos Responsivos Generales ------- */
@media (max-width: 1024px) {
  .container {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .footer ul {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .social-icons {
    justify-content: center;
  }
}
/* ------- Responsive para Index ------- */
@media (max-width: 767px) {
  .intro-container {
    text-align: center;
  }
  .muestras {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .intro-image, .workshop-image-container {
    width: 100%;
    text-align: center;
  }
  .intro-image img, .workshop-image-container img {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .intro-text, .workshop-text {
    width: 100%;
    padding: 0 15px;
  }
  .workshop-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
  }
}
/* ------- Responsive para Workshop ------- */
@media (max-width: 767px) {
  .workshop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .workshop-text {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .workshop-image-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .workshop-image-container img {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  .workshops-gallery {
    flex-direction: column;
    align-items: center;
  }
  .workshops-gallery .workshop-item {
    width: 90%;
    margin-bottom: 20px;
  }
  .workshops-gallery .workshop-item img {
    width: 80px;
  }
  .workshops-gallery .workshop-item p {
    text-align: center;
  }
  .intro-workshops {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .intro-workshops .intro-content {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  .intro-workshops .intro-content h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .intro-workshops .intro-content h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .intro-workshops .intro-content p {
    line-height: 1.5;
  }
  .intro-workshops .intro-image {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .intro-workshops .intro-image img {
    width: 90%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
  }
}
/* ------- Responsive para Sobre Nosotros ------- */
@media (max-width: 767px) {
  .about-details {
    flex-direction: column;
    text-align: center;
  }
  .about-image img {
    max-width: 80%;
    margin: 0 auto;
  }
  .about-list {
    text-align: left;
    padding: 20px;
  }
}
/* ------- Responsive para Muestras ------- */
@media (max-width: 767px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-content: center;
  }
  .gallery .gallery-item img {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .destacados {
    padding: 20px;
  }
  .destacados h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .destacados h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .destacados .galeria {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .destacados .galeria-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .destacados .galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .destacados .detalles {
    max-width: 90%;
    text-align: center;
    margin: 20px auto;
  }
  .destacados .detalles li {
    font-size: 16px;
    text-align: left;
  }
}
/* ------- Responsive para Contacto ------- */
@media (max-width: 767px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 90%;
    padding: 0 20px;
    gap: 20px;
  }
  .contact-image {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .contact-image img {
    max-width: 90%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
  }
  .contact-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f7f6ea;
    border-radius: 8px;
  }
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }
  .contact-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}/*# sourceMappingURL=estilos.css.map */